body {
    background-color: rgb(75, 197, 111);
    display: flex;
    flex-wrap: wrap;
}

div {
    border: 1px solid rgb(114, 57, 57);
    padding: 5px;
    background-color: rgb(224, 181, 117);
    margin: 10px;
    cursor: pointer;

}

div:hover {
    background-color: rgb(182, 149, 99);
}

h1 {}