* {
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

header,
section,
main,
nav,
footer,
article,
figure,
hgroup {
  display: block;
  width: 100%;
}

.Buttons {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
  min-height: 100vh;
}

.button {
  width: 144px;
  height: 48px;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  display: inline-block;
}
.button--color-blue {
  background: #18A0FB;
}
.button--color-blue svg {
  stroke: #FFF;
}
.button--color-disabled {
  color: #878787;
  background-color: rgba(224, 224, 224, 0.3);
}
.button--color-disabled svg {
  stroke: #878787;
}
.button--color-secondary {
  color: #2C2C2C;
  background-color: #FFF;
  border: 1px solid #E0E0E0;
}
.button--color-secondary svg {
  stroke: #2C2C2C;
}
.button--color-focused {
  color: #18A0FB;
  border: 1px solid #18A0FB;
  background-color: #FFF;
}
.button--color-focused svg {
  stroke: #18A0FB;
}
.button--color-orange {
  background-color: #FF3E1D;
}
.button--color-orange svg {
  stroke: #FFF;
}
.button--color-green {
  background-color: #00D200;
}
.button--color-green svg {
  stroke: #FFF;
}
.button--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.button--icon .button__svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.button--icon svg:last-child {
  margin-top: -3px;
}
.button--size-56 {
  width: 3.5rem;
}
.button--size-134 {
  width: 8.375rem;
}
.button--size-small {
  width: 6.93rem;
  height: 2.25rem;
  font-size: 0.8rem;
}
.button--size-square {
  width: 3rem;
  height: 2.25rem;
}
.button--size-squaresml {
  width: 3.625rem;
  height: 2.25rem;
}
.button--size-roundSmall {
  border-radius: 50%;
  width: 2.25rem;
  height: 2.25rem;
}
.button--size-roundBig {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}
.button--size-tagbig {
  width: 4.06rem;
  height: 1.75rem;
  font-size: 0.8rem;
}
.button--size-tagsmall {
  width: 3.19rem;
  height: 1.75rem;
}

.title {
  color: #2C2C2C;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.Buttons__big,
.Buttons__small {
  margin-bottom: 80px;
}
.Buttons__big .bigButtons__title,
.Buttons__big .smallButtons__title,
.Buttons__small .bigButtons__title,
.Buttons__small .smallButtons__title {
  margin-bottom: 26px;
}
.Buttons__big .bigButtons__left,
.Buttons__big .smallButtons__left,
.Buttons__small .bigButtons__left,
.Buttons__small .smallButtons__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 740px;
  gap: 20px;
}
.Buttons__big .smallButtons__left,
.Buttons__small .smallButtons__left {
  width: 600px;
}
.Buttons__big .bigButtons__right,
.Buttons__big .smallButtons__right,
.Buttons__small .bigButtons__right,
.Buttons__small .smallButtons__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.Buttons__big .bigButtons__right .right__top,
.Buttons__big .smallButtons__right .right__top,
.Buttons__small .bigButtons__right .right__top,
.Buttons__small .smallButtons__right .right__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.Buttons__big .bigButtons__right .right__bot,
.Buttons__big .smallButtons__right .right__bot,
.Buttons__small .bigButtons__right .right__bot,
.Buttons__small .smallButtons__right .right__bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.Buttons__big .bigButtons__container,
.Buttons__big .smallButtons__container,
.Buttons__small .bigButtons__container,
.Buttons__small .smallButtons__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 80px;
}

.tag__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 15%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5px;
}
.tag__buttons .tag__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}