@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}


html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

header,
section,
main,
nav,
footer,
article,
figure,
hgroup {
    display: block;
    width: 100%;
}

.header {
    background: #ED4C5C;
}

.container {
    margin: 0 auto;
    width: 1070px;
    padding: 95px 0;
}

.container h1 {
    color: #FFF;
    font-size: 36px;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 445px;
    margin-bottom: 40px;
}

.text_container p {
    color: #FFF;
    text-align: justify;
    font-size: 14px;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    width: 445px;
    margin-bottom: 40px;

}

.text_container {
    position: relative;
    z-index: 2;
    float: left;
}

.icons_container a {
    margin-right: 23px;

}

.headerimg_container {
    position: relative;
}

.main_image {
    position: relative;
    top: 0;
    left: 125px;
    z-index: 1;
}

.img_bg1 {

    position: absolute;
    top: 22px;
    left: 540px;
}

.img_bg2 {

    position: absolute;
    top: 22px;
    left: 655px;
}

.main {
    clear: both;
    height: 500px;
}

.contact {
    float: left;
}

.contact h2 {
    color: #000;
    font-size: 36px;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 50px;
}

.contact p {
    color: #000;
    text-align: justify;
    font-size: 14px;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

form {
    float: right;
    width: 500px;
}

.expertise {}

main .container {
    height: 500px;
}

.abuot {
    float: left;
}

.abuot p {
    color: #000;
    text-align: justify;
    font-size: 14px;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    width: 434px;
}

.first,
.last,
.phone,
select {
    height: 60px;
    border-radius: 6px;
    border: 1px solid var(--gray-1, #333);
    padding-left: 10px;
    margin-bottom: 24px;
}

.first {
    margin-right: 30px;

}

.first,
.last {
    width: 220px;

}

.phone,
select {
    width: 95%;
}

.button {
    border-radius: 6px;
    border: 1.5px solid #ED4C5C;
    background: #ED4C5C;
    color: #FFF;
    font-size: 14px;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    width: 160px;
    height: 50px;
    cursor: pointer;
}

.column {
    width: 25%;
    float: left;
    padding: 10px 0;

}

.footer {
    position: relative;
    display: block;
    padding-bottom: 86px;
}

.footer h3 {
    color: #101010;
    font-size: 18px;
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-bottom: 33px;
}

.adress p {
    color: #101010;
    font-size: 12px;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 170px;
}

.services ul {
    color: #000;
    font-size: 12px;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-transform: capitalize;
    list-style: none;
}

.touch a {
    color: #101010;
    font-size: 12px;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.social_container img {

    padding: 10px;
}

.copyright {
    clear: both;
    color: #101010;
    font-size: 12px;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 86px 0;
}