@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

.wrapper {
    min-width: 1440px;

}

html,
body {
    height: 100%;
}

.header {
    min-width: 100%;
    height: 500px;
    background-color: #ED4C5C;
}

.header_container {
    margin: 0px 200px 95px 160px;
    padding-top: 94px;
}

.text_container,
.headerimg_container {
    display: inline-block;
}

.text_container {
    float: left;
}

h1 {
    color: #FFF;
    font-size: 36px;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 445px;
    margin-bottom: 30px;
}

.text_container {
    margin-right: 125px;

}

.text_container p {
    color: #FFF;
    text-align: justify;
    font-size: 14px;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    width: 445px;
    margin-bottom: 40px;
}

.icons_container a {
    margin-right: 23px;
    align-items: center;
}

.headerimg_container {
    position: relative;
    display: flow-root;
}

.main_image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

}

.img_bg1 {
    position: absolute;
    top: 22px;
    left: -44px;
    opacity: 0.5;
}

.img_bg2 {
    position: absolute;
    left: 103px;
    top: 22px;
    opacity: 0.5;
}

.main_container {
    width: 1440px;
    height: 500px;

    vertical-align: top;

    padding: 117px 165px 78px 170px;
}


.contact {

    float: left;
    width: 46%;
}

.contact h2 {
    color: #000;
    font-size: 36px;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 445px;
    margin-bottom: 66px;
}

.contact p {
    color: #000;
    text-align: justify;
    font-size: 14px;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    width: 434px;
    margin-right: 100px;
}

.main_form {
    float: left;
    width: 46%;
}

.first,
.last,
.phone,
.select {
    border-radius: 6px;
    border: 1px solid var(--gray-1, #333);
    height: 60px;
}

.first,
.last {
    width: 46%;

}

input,
select {
    margin-bottom: 24px;
}

.first {
    margin-right: 30px;
}

.phone,
.select {
    width: 99%;
    padding-left: 20px;
}

.button {
    width: 160px;
    height: 50px;
    border-style: none;
    cursor: pointer;
    border-radius: 6px;
    border: 1.5px solid #ED4C5C;
    background: #ED4C5C;
    color: #FFF;
    font-size: 14px;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

input[type="text"] {
    padding-left: 20px;
}

.footer {
    width: 1440px;
    height: 435px;
    background-color: #FAFAFA;
    position: relative;
}

.footer_container {
    padding: 85px 196px 86px 186px;
}

.footer_container h3 {
    color: #101010;
    font-size: 18px;
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-bottom: 33px;
}

.column {
    width: 25%;
    float: left;
    padding: 10px;

}



.copyright {
    text-align: left;
}

.adress p {
    color: #101010;
    font-size: 12px;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 170px;
}

.services ul {
    color: #000;
    font-size: 12px;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-transform: capitalize;
}

.touch a {
    color: #101010;
    font-size: 12px;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 10px;
    padding-bottom: 10px;
}

.copyright {
    position: absolute;
    top: 335px;
    left: 161px;
}