doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        link(rel="stylesheet", href="normalize.css")
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com",crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap",rel="stylesheet")
        title Препроцесори
    body 
      .wrapper
       header.header
        .container
            nav.nav
                ul.nav_list
                    li.nav_list-item
                        a(href="#", class="nav_list-link") Home
                    li(class="nav_list-item") 
                        a(href="#", class="nav_list-link") About 
                    li(class="nav_list-item") 
                        a(href="#", class="nav_list-link") Contact
                a(href="#", class="logo") Landie 
                button(type="button", class="nav_button button") Buy Now   
       main.main
            .container
                section.product 
                    .product_container 
                        h1.product_title Introduce Your Product Quickly & Effectively
                        p.product_text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculusmus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                        .product_buttons 
                          button.product_button.button(type="button") Purchase UI Kit
                          button.product_button.button(type="button") Learn More
                section.light 
                    .light_left
                        h2.light_title Light, Fast & Powerful
                        p.light_text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculusmus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                        .goes_container
                            .goes 
                               img.goes_img(src="../homework12/img/Icon.svg", alt="title")
                               h3.goes_title Title Goes Here
                               p.goes_text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
                            .goes 
                              img.goes_img(src="../homework12/img/Icon.svg", alt="title")
                              h3.goes_title Title Goes Here
                              p.goes_text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
                    .light_right 
                        img.right_img(src="../homework12/img/girl.png", alt="girl") 
                section.lights 
                    .lights_img 
                        img(src="../homework12/img/girl2.png", alt="girl2")
                    .lights_text    
                        h2.light_title Light, Fast & Powerful
                        p.light_text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculusmus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                section.lights 
                    .lights_img 
                        img(src="../homework12/img/undraw_mention_6k5d.png", alt="girl2")
                    .lights_text    
                        h2.light_title Light, Fast & Powerful
                        p.light_text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculusmus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                section.lights 
                    .lights_img 
                        img(src="../homework12/img/undraw_social_influencer_sgsv.png", alt="girl2")
                    .lights_text    
                        h2.light_title Light, Fast & Powerful
                        p.light_text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculusmus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                        button.lights_button.button(type="button") Purchase Now
                section.price
                    h2.price_title A Price To Suit Everyone
                    p.price_text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus 
                    span.price_dol $40
                    br
                    span.price_kit UI Design Kit
                    br
                    span.price_see See, One price. Simple.
                    button.price_button.button(type="button") Purchase Now
       footer.footer 
        .container 
            .footer_top 
                span.footer_copyright ©2020 Yourcompany
                a.footer_logo.logo(href="#") Landie
                button.footer_button.button(type="button") Purchase Now
            .footer_bottom 
                ul.nav_list
                    li.nav_list-item
                        a(href="#", class="nav_list-link") Home
                    li(class="nav_list-item") 
                        a(href="#", class="nav_list-link") About 
                    li(class="nav_list-item") 
                        a(href="#", class="nav_list-link") Contact
                ul.footer_icons 
                    li.footer_icon 
                        a.footer_link(href="#") 
                            img(src="../homework12/img/facebook.png", alt="facebook")
                    li.footer_icon 
                        a.footer_link(href="#")
                            img(src="../homework12/img/linked.png", alt="linked")
                    li.footer_icon 
                        a.footer_link(href="#")
                            img(src="../homework12/img/twitter.png", alt="twitter")
                    li.footer_icon 
                        a.footer_link(href="#")
                            img(src="../homework12/img/youtube.png", alt="youtube")
                    li.footer_icon 
                        a.footer_link(href="#")
                            img(src="../homework12/img/Instagram.png", alt="Instagram")
