.wrapper {
  background-image: url("../homework12/img/designer_1.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 940px;
  padding: 0 10px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5px;
}

.button {
  border-radius: 2px;
  background: #111B47;
  color: #FFF;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Roboto;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 18px;
  width: 160px;
  height: 26px;
  cursor: pointer;
}

.logo {
  color: #37447E;
  font-size: 1.625rem;
  font-weight: 900;
  line-height: 38px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  text-decoration: none;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Roboto;
}
.nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  list-style: none;
  padding: 0;
}
.nav_list-link {
  color: #505F98;
  text-decoration: none;
  font-weight: 400;
  line-height: 24px;
}

.main .product_title {
  color: #091133;
  font-family: Roboto;
  font-size: 3rem;
  font-weight: 500;
  line-height: 66px;
  letter-spacing: 1px;
}
.main .product_container {
  max-width: 50%;
  padding: 260px 0 390px 0;
}
.main .product_text {
  color: #505F98;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 70px;
}
.main .product_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.main .product_button {
  width: 189px;
  height: 36px;
  margin-right: 30px;
  border: 2px solid #091133;
  background-color: #FFF;
  color: #091133;
  line-height: 26px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.main .product_button:hover {
  background-color: #091133;
  color: #FFF;
}
.main .light {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}
.main .light_title {
  color: #091133;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 48px;
}
.main .light_text {
  color: #6F7CB2;
  font-weight: 400;
  line-height: 26px;
}
.main .light .goes_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px;
  gap: 30px;
}
.main .light .goes_title {
  color: #091133;
  font-weight: 500;
  line-height: 26px;
}
.main .light .goes_text {
  color: #5D6970;
  font-family: Roboto;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 18px;
}
.main .lights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 150px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main .lights_text {
  width: 40%;
}
.main .price {
  text-align: center;
  max-width: 50%;
  margin: 237px auto 176px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .price_title {
  color: #091133;
  font-family: Roboto;
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 48px;
}
.main .price_button {
  display: inline;
}
.main .price_text {
  color: #6F7CB2;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 2rem;
}
.main .price_dol {
  color: #222F65;
  font-family: Roboto;
  font-size: 3.125rem;
  font-weight: 500;
  line-height: 66px;
  letter-spacing: 1px;
}
.main .price_kit {
  color: #37447E;
  line-height: 26px;
}
.main .price_see {
  padding-top: 2rem;
  color: #5D6970;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 24px;
}

.footer {
  background-color: #E7ECFF;
}
.footer_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 68px 0 47px 0;
  border-bottom: 1px solid #CDD1D4;
}
.footer_top .footer_button {
  width: 109px;
}
.footer_top .footer_copyright {
  color: #939EA4;
  font-family: Roboto;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 24px;
}
.footer .footer_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .footer_bottom .nav_list-link {
  color: #929ECC;
}
.footer .footer_icons {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  padding: 20px 0 30px;
}

@media (max-width: 721px) {
  .nav_list {
    gap: 20px;
  }
  .wrapper {
    background-image: none;
  }
  .container {
    max-width: none;
  }
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1rem;
  }
  .main .product_container {
    padding: 100px 0;
    max-width: 100%;
    text-align: center;
  }
  .main .product_container .product_buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0;
  }
  .light {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .light .light_left {
    text-align: center;
  }
  .light .right_img {
    width: 90%;
  }
  .main .lights {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main .lights .lights_text {
    width: 100%;
    text-align: center;
  }
  .main .lights .lights_button {
    text-align: center;
    display: inline-block;
  }
  .lights_img {
    max-width: 100%;
  }
  .lights_img-item {
    width: 100%;
  }
  .footer .footer_top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 2rem;
    padding: 20px 0;
  }
  .footer .footer_bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}