$main-blue-800: #111B47;
$main-blue-500: #505F98;
$logo-primary: #37447E;
$main-blue-900: #091133;
$main-blue-400: #6F7CB2;
$main-grey-600: #5D6970;
$main-blue-700: #222F65;
$main-blue-600: #37447E;
$main-grey-400: #939EA4;
$main-blue-300: #929ECC;

@mixin fsize($rem) {
    font-size: $rem;
}

@mixin body {
    font-family: 'Roboto', sans-serif;
    max-width: 1440px;
    margin: 0 auto;
    @include fsize(16px);
}

.wrapper {
    background-image: url("../homework12/img/designer_1.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 940px;
    padding: 0 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5px;
}

.button {
    border-radius: 2px;
    background: $main-blue-800;
    color: #FFF;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    @include fsize(0.75rem);
    font-weight: 500;
    line-height: 18px;
    width: 160px;
    height: 26px;
    cursor: pointer;
}

.logo {
    color: $logo-primary;
    font-size: 1.625rem;
    font-weight: 900;
    line-height: 38px;
    flex: 0 1 20%;
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Roboto;

    &_list {
        display: flex;
        gap: 60px;
        list-style: none;
        padding: 0;

        &-link {
            color: $main-blue-500;
            text-decoration: none;
            font-weight: 400;
            line-height: 24px;
        }

    }

}

.main {
    .product {
        &_title {
            color: $main-blue-900;
            font-family: Roboto;
            font-size: 3rem;
            font-weight: 500;
            line-height: 66px;
            letter-spacing: 1px;

        }

        &_container {
            max-width: 50%;
            padding: 260px 0 390px 0;
        }

        &_text {
            color: $main-blue-500;
            @include fsize(1.125rem);
            font-weight: 400;
            line-height: 30px;
            margin-bottom: 70px;

        }

        &_buttons {
            display: flex;
            gap: 30px;
        }

        &_button {
            width: 189px;
            height: 36px;
            margin-right: 30px;
            border: 2px solid $main-blue-900;
            background-color: #FFF;
            color: $main-blue-900;
            line-height: 26px;
            transition: all 0.5s ease;
        }

        &_button:hover {
            background-color: $main-blue-900;
            color: #FFF;
        }
    }

    .light {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 100px;


        &_title {
            color: $main-blue-900;
            @include fsize(2.2rem);
            font-weight: 500;
            line-height: 48px;
        }

        &_text {
            color: $main-blue-400;
            font-weight: 400;
            line-height: 26px;
        }


        .goes_container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 80px;
            gap: 30px;
        }

        .goes_title {
            color: $main-blue-900;
            font-weight: 500;
            line-height: 26px;
        }

        .goes_text {
            color: $main-grey-600;
            font-family: Roboto;
            @include fsize(0.75rem);
            font-weight: 400;
            line-height: 18px;
        }

    }

    .lights {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 150px;
        flex-wrap: wrap;


        &_text {
            width: 40%;
        }
    }

    .price {
        text-align: center;
        max-width: 50%;
        margin: 237px auto 176px;
        display: flex;
        flex-direction: column;
        align-items: center;


        &_title {
            color: $main-blue-900;
            font-family: Roboto;
            @include fsize(2.25rem);
            font-weight: 500;
            line-height: 48px;
        }

        &_button {
            display: inline;
        }

        &_text {
            color: $main-blue-400;
            font-weight: 400;
            line-height: 26px;
            margin-bottom: 2rem;
        }

        &_dol {
            color: $main-blue-700;
            font-family: Roboto;
            @include fsize(3.125rem);
            font-weight: 500;
            line-height: 66px;
            letter-spacing: 1px;
        }

        &_kit {
            color: $main-blue-600;
            line-height: 26px;
        }

        &_see {
            padding-top: 2rem;
            color: $main-grey-600;
            @include fsize(0.875rem);
            font-weight: 400;
            line-height: 24px;

        }
    }

}

.footer {
    background-color: #E7ECFF;

    &_top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 68px 0 47px 0;
        border-bottom: 1px solid #CDD1D4;

        .footer_button {
            width: 109px;
        }

        .footer_copyright {
            color: $main-grey-400;
            font-family: Roboto;
            @include fsize(0.875rem);
            font-weight: 500;
            line-height: 24px;
        }
    }

    .footer_bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav_list-link {
            color: $main-blue-300;
        }
    }

    .footer_icons {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        padding: 20px 0 30px;
    }
}

@media(max-width: 721px) {

    .nav_list {
        gap: 20px;
    }

    .wrapper {
        background-image: none;
    }

    .container {
        max-width: none;
    }

    .nav {
        flex-direction: column;
        row-gap: 1rem;
    }

    .main .product_container {
        padding: 100px 0;
        max-width: 100%;
        text-align: center;

        .product_buttons {
            justify-content: center;
            gap: 0;
        }
    }

    .light {
        flex-wrap: wrap-reverse;

        .light_left {
            text-align: center;
        }

        .right_img {
            width: 90%;
        }
    }

    .main .lights {
        justify-content: center;

        .lights_text {
            width: 100%;
            text-align: center;
        }

        .lights_button {
            text-align: center;
            display: inline-block;
        }
    }

    .lights_img {
        max-width: 100%;

        &-item {
            width: 100%;
        }
    }

    .footer {
        .footer_top {
            flex-direction: column;
            row-gap: 2rem;
            padding: 20px 0;
        }

        .footer_bottom {
            flex-direction: column;
        }
    }




}