$main-blue-800: #111B47;
$main-blue-500: #505F98;
$logo-primary: #37447E;
$main-blue-900: #091133;
$main-blue-400: #6F7CB2;
$main-grey-600: #5D6970;

body {
    font-family: 'Roboto', sans-serif;
    max-width: 1440px;
    margin: 0 auto;

}

.wrapper {
    background-image: url("../homework12/img/designer_1.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 940px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5px;
}

.button {
    border-radius: 2px;
    background: $main-blue-800;
    color: #FFF;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    width: 160px;
    height: 26px;
    cursor: pointer;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Roboto;

    &_list {
        display: flex;
        gap: 60px;
        list-style: none;
        padding: 0;

        &-link {
            color: $main-blue-500;
            text-decoration: none;
            font-weight: 400;
            line-height: 24px;
        }

    }

    .logo {
        color: $logo-primary;
        font-size: 26px;
        font-weight: 900;
        line-height: 38px;
        flex: 0 1 20%;
        text-decoration: none;
    }

    &_button {}

}

.main {
    .product {
        &_title {
            color: $main-blue-900;
            font-family: Roboto;
            font-size: 50px;
            font-weight: 500;
            line-height: 66px;
            letter-spacing: 1px;

        }

        &_container {
            max-width: 50%;
            padding: 260px 0 390px 0;
        }

        &_text {
            color: $main-blue-500;
            /* Regular 18 */
            font-family: Roboto;
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
            margin-bottom: 70px;
            /* 166.667% */
        }

        &_buttons {
            display: flex;
            gap: 30px;
        }

        &_button {
            width: 189px;
            height: 36px;
            margin-right: 30px;
            border: 2px solid $main-blue-900;
            background-color: #FFF;
            color: $main-blue-900;
            font-size: 16px;
            font-weight: 500;
            line-height: 26px;
            transition: all 0.5s ease;
        }

        &_button:hover {
            background-color: $main-blue-900;
            color: #FFF;
        }
    }

    .light {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 100px;


        &_title {
            color: $main-blue-900;
            /* Medium 36 */
            font-family: Roboto;
            font-size: 36px;
            font-weight: 500;
            line-height: 48px;
            /* 133.333% */
        }

        &_text {
            color: $main-blue-400;
            font-family: Roboto;
            font-weight: 400;
            line-height: 26px;
            /* 162.5% */
        }


        .goes_container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 80px;
            gap: 30px;
        }

        .goes_title {
            color: $main-blue-900;
            font-weight: 500;
            line-height: 26px;
        }

        .goes_text {
            color: $main-grey-600;
            font-family: Roboto;
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
            /* 150% */
        }

    }

    .lights {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 150px;
        flex-wrap: wrap;


        &_text {
            width: 40%;
        }
    }

    .price {
        text-align: center;

        &_title {
            color: $main-blue-900;
            font-family: Roboto;
            font-size: 36px;
            font-weight: 500;
            line-height: 48px;
        }

        &_button {
            display: inline;
        }
    }

}