* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*--------------------*/
@font-face {

    font-family: "Avenir";

    src: url("../homework06/fonts/avenir_ff/AvenirLTStd-Book.otf") format("opentype");

}

body {
    font-family: Arial, Avenir, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.container {
    max-width: 1118px;
    margin: 0 auto;
}

.header .container {
    position: relative;
    margin-bottom: 100px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 67px 0px 147px 0px;
    flex-wrap: wrap;
}



.menu_items {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-basis: 50%;
    flex-wrap: wrap;
}

.menu_items a {
    color: var(--1, #4B5D68);
    font-family: Avenir;
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;
}

.menu_items a:hover {
    color: #F063B8;
    transition: all 0.4s ease-in-out 0s;
}

.request {
    width: 210px;
    height: 60px;
    border-radius: 50px;
    background: #FFF;
    box-shadow: 0px 5px 5px 0px rgba(75, 93, 104, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    color: var(--2, #212353);
    font-family: Avenir;
    font-size: 16px;
    font-weight: 800;
    line-height: 160%;
    letter-spacing: 0.08px;

}

.request:hover {
    background-color: #F063B8;
    color: #F6FAFD;
    transition: all 0.3s ease-in-out 0s;
}


.header_img {
    width: 885px;
    height: 468px;
    position: absolute;
    right: -139px;
    bottom: 0;
    z-index: -1;
}

.text_header {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 100px;
}

.text_header h1 {
    max-width: 645px;
    color: var(--2, #212353);
    font-family: Helvetica;
    font-size: 80px;
    font-weight: 700;
    line-height: 110%;
}

.text_header p {
    color: var(--1, #4B5D68);
    font-family: Avenir;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    max-width: 380px;
}

.text_header a {
    max-width: 170px;
    height: 60px;
    border-radius: 50px;
    background: var(--3, #9C69E2);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-family: Avenir;
    font-size: 18px;
    font-weight: 800;
    line-height: 160%;

}

/*========================================================*/

.main {
    flex: 1 1 auto;
}

.storage {
    display: flex;
    border-radius: 50px;
    background: rgba(240, 99, 184, 0.15);
    gap: 60px;
    align-items: center;
    margin-bottom: 150px;
    flex-wrap: wrap;
}

.storage img {
    width: 477px;
    height: 504px;
}

.storage_text {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.storage_text h2 {
    color: #212353;
    max-width: 475px;
    font-family: Helvetica;
    font-size: 40px;
    font-weight: 700;
    line-height: 130%;
}

.storage_text p {
    max-width: 474px;
    color: var(--1, #4B5D68);
    font-family: Avenir;
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
}

.features {
    margin-bottom: 176px;
}

.features h2 {
    color: #212353;
    text-align: center;
    font-family: Helvetica;
    font-size: 40px;
    font-weight: 700;
    line-height: 130%;
}

.text_features {
    max-width: 584px;
    color: var(--1, #4B5D68);
    margin: 50px auto 149px;
    text-align: center;
    font-family: Avenir;
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
}

.rows {
    display: flex;
    flex-wrap: wrap;
    gap: 90px;
    justify-content: center;
}

.features_rows {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}

.features p {
    color: var(--1, #4B5D68);
    font-family: Avenir;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    max-width: 220px;
}

.features h3 {
    color: #212353;
    font-family: Helvetica;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.text_row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.text_row a {
    color: var(--2, #212353);
    font-family: Avenir;
    font-size: 16px;
    font-weight: 900;
    line-height: 160%;
    letter-spacing: 0.08px;
    text-align: center;

}

.link {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.rows_img {
    align-self: center;
}

.testimonials {
    border-radius: 50px;
    background: var(--3, #9C69E2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 109px 76px 60px 93px;
    gap: 60px;
    margin-bottom: 150px;
    flex-wrap: wrap;

}

.testimonials h3 {
    color: #FFF;
    font-family: Helvetica;
    font-size: 40px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 28px;
}

.fang {
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 20px 0px 0px rgb(60 32 98 / 30%);
    max-width: 949px;
    padding: 60px 102px 60px;
    display: flex;
    gap: 44px;
    flex-wrap: wrap;

}

.text_testimols h4 {
    color: var(--2, #212353);
    font-family: Avenir;
    font-size: 18px;
    font-weight: 900;
    line-height: 160%;
    letter-spacing: 0.09px;
    padding-top: 25px;
}

.text_testimols a {
    color: var(--3, #9C69E2);
    font-family: Avenir;
    font-size: 14px;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: 0.14px;

}

.text_testimols p {
    color: var(--1, #4B5D68);
    font-family: Avenir;
    font-size: 18px;
    font-weight: 400;
    line-height: 180%;
    max-width: 430px;
    padding-top: 19px;
}

.fang img {
    width: 132.419px;
    height: 90px;
    border-radius: 132.419px;
}

.controls {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.arrow_control {
    align-self: end;
}

.arrows img {
    padding-left: 20px;
}

.arrows .arrow_control {
    width: 40px;
    height: 14px;
}

.arrows .arrowr2 {
    width: 33px;
    height: 14px;
}

.footer {
    background: linear-gradient(180deg, #F6FAFD 0%, #FFF 100%);
    padding: 100px 0;
}

.try {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.buttons {
    display: flex;
    gap: 59px;
    flex-wrap: wrap;
}

.learn {

    width: 170px;
    height: 60px;
    border-radius: 50px;
    border-radius: 50px;
    background: var(--4, #F063B8);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-family: Avenir;
    font-size: 18px;
    font-weight: 800;
    line-height: 160%;
}

.text_try h3 {
    color: #212353;
    font-family: Helvetica;
    font-size: 40px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 20px;
}

.text_try p {
    color: var(--1, #4B5D68);
    font-family: Avenir;
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
}


.data {
    padding: 153px 0 93px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.warehouse_data_head {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-bottom: 30px;
}

.warehouse_data {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.data h4 {
    color: var(--2, #212353);
    font-family: Avenir;
    font-size: 20px;
    font-weight: 900;
    line-height: 160%;
    padding-bottom: 30px;
}

#head_data {
    padding-bottom: 0;
}

.warehouse_text {
    color: var(--2, #212353);
    font-family: Avenir;
    font-size: 16px;
    font-weight: 600;
    line-height: 180%;
    letter-spacing: 0.16px;
    max-width: 255px;
}

.info_text {
    color: var(--2, #212353);
    font-family: Avenir;
    font-size: 16px;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 0.16px;
    max-width: 145px;
}

.data li {
    color: var(--2, #212353);
    font-family: Avenir;
    font-size: 16px;
    font-weight: 400;
    line-height: 250%;
}

.social_data {
    padding-right: 35px;
}

.copyright {
    color: var(--2, #212353);
    font-family: Avenir;
    font-size: 12px;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 0.12px;


}

.copyright_text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.copyright_text div {
    width: 260px;
}