html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

header,
section,
main,
nav,
footer,
article,
figure,
hgroup {
    display: block;
    width: 100%;
}

.wrapper {
    margin: 10px 20px;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid #000;
}

a {
    text-decoration: none;
}

body {
    background-color: beige;
}

p {
    text-indent: 20px;
}