*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
}

a {
    color: #794f45;
}

h1 {
    font-size: 40px;
    line-height: 1;
    margin: 0px 0px 50px 0px;
}

h2 {
    font-size: 30px;
    line-height: 1;
    margin: 0px 0px 20px 0px;
}

ul {
    list-style: none;
}

/*==========================*/

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 1024px;
}

.wrapper div {
    background-color: gray;
    width: 50px;
    height: 50px;
    border: 1px solid rgba(131, 151, 59, 0.801);
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.wrapper div:nth-child(1n+21) {
    background-color: blue;
}

.wrapper div:nth-child(4n-1) {
    background-color: red;
}

button {
    color: #FFF;
    text-align: center;
    font-family: Helvetica;
    font-size: 24px;
    font-weight: 700;
    width: 494px;
    height: 92px;
    border-radius: 50px;
    background-color: #44D3A8;
    margin: 300px;
    cursor: pointer;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: #617ebd;
}

button::before,
button::after {
    content: "";
    top: 45%;
    width: 200px;
    border-top: 2px solid #C4C4C4;
    border-bottom: 2px solid #C4C4C4;
    position: absolute;
    height: 12px;
    cursor: auto;
}

button::before {
    left: -232px;
}

button::after {
    right: -232px;
}